{% extends "admin_base.html" %} {% block title %} Admin Status {% endblock %} {% block content%}

<div class='container'>
<h1> Set Status  </h1>
    <form method="POST">
    <input
          type="radio"
          class="form-control"
          id="start"
          name="status"
          value = "START"
        />
        <label for="start">START</label>
    <input
          type="radio"
          class="form-control"
          id="stop"
          name="status"
          value = "STOP"
        />
        <label for="stop">STOP</label> 
    </br>
        <button type="submit" class="btn btn-primary">Set Status</button>
    </form>
</div>
    
<style>
	.container{
		padding-top: 40px;
	}
</style>  

{% endblock %}