{% extends "admin_base.html" %} {% block title %} Admin Passwords {% endblock %} {% block content%}

<div class='container'>
<h1> Get Passwords </h1>
    <form method="POST">
    <input
          type="text"
          class="form-control"
          id="passwords"
          name="passwords"
          placeholder="Get Passwords"
        />
        <br>
        <button type="submit" class="btn btn-primary">Get Passwords</button>
    </form>
</div>
    
<style>
	.container{
		padding-top: 40px;
	}
</style>  

{% endblock %}