{% extends "admin_base.html" %} {% block title %} Admin Motion {% endblock %} {% block content%}

<div class = "container">
<h1> Set Motion </h1>
<form method="POST">
    <textarea
          type="text"
          class="form-control"
          id="motion"
          name="motion"
          placeholder="Motion"
        > </textarea>
        <br>
        <button type="submit" class="btn btn-primary">Set Motion</button>
    </form>
</div>

<style>
	.container{
	padding-top: 40px;
	}
    #motion
{
    height:100px;
    font-size:14pt;
}

</style>

{%endblock%}