{% extends "base.html" %} {% block title %}Congrats{% endblock %} {% block content%}

<div class ='container'>
    <center> <h2> Congratulations! </h2> </center>
</div>

<div class= 'button'>
    <center ><button class = 'bn3639 bn39' onclick="location.href = '/';"> Go Home </button> <center>
</div>

<style>
    .container{
        padding-top: 60px;
    }
    .bn3639 {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem 1rem;
      font-family: "Roboto", sans-serif;
      font-weight: 700;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
      color: white;
      backface-visibility: hidden;
      border: 0.3rem solid transparent;
      border-radius: 3rem;
    }

	.button{
		align-items:center;
        padding-top: 60px;
	}

    .bn39 {
     background-color: black ;
     transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
    }  
    
    .bn39:hover {
      transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
    }

</style>

    {% endblock %}